#toggle:checked ~ .content {
  padding-top: 30px;
}
#toggle:checked ~ .content:before {
  background-color: rgba(0, 0, 0, 0.3);
}

/* Dummy Content */
.content {
  position: relative;
  text-align: center;
  transition: 0.5s;
}
.content:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  z-index: 2;
  transition: 0.5s;
}

/* banner */
/* .banner {
  height: 100vh;
  width: 100vw;
  background-image: url("../../../assets/banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
} */

.banner-content > img {
  max-width: 169px;
  max-height: 169px;
}

.banner-content > div {
  max-width: 530px;
  display: flex;
  justify-content: space-between;
  text-align: start;
  padding-left: 32px;
}
.banner-content > div > span {
  font-size: 48px;
  line-height: 65px;
  color: white;
  font-family: "Playfair Display";
  font-weight: 700;
}
.banner-content > div > p {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  line-height: 27px;
  color: white;
}
.banner-content {
  padding-top: 222px;
  display: flex;
  justify-content: space-between;
}
