.navbar-desktop {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100vw;
}

.un-focus{
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: white;
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  padding-bottom: 10px;
}

.focus { 
  color: goldenrod ;
  background-color: transparent;
  cursor: pointer;
  border: solid ;
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  padding-bottom: 10px;
  border-bottom-width: 1px;
  border-bottom-color: goldenrod;

}


.navbar-desktop > .titles {
  color: white;
  width: 40%;
  display: flex;

  justify-content: space-around;
}

.register {
  height: 33px;
  max-width: 150px;
  border-radius: 4px;
  padding: 8px, 11px, 8px, 11px;
  color: white;
  border: none;
}

.navbar-desktop > a {
  color: white;
}

.navbar-desktop > img {
  height: 48px;
  width: 48px;
}

@media screen and (max-width: 800px) {
  .navbar-desktop {
    display: none;
  }
}
