.register-banner {
  width: 100vw;
  height: 100vh;
  background-image: url("../../../assets/tet.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.modal {
  min-width: 40vw;
  padding-top: 2vh;
  padding-bottom: 5vh;
  background-color: white;
  border-radius: 20px;
}

.modal-head {
  justify-content: space-between;
  padding-left: 10%;
  padding-right: 10%;
}

.modal-head > img {
  height: 14px;
  width: 7px;
}

.submit {
  min-height: 48px;
  border-radius: 8px;
  width: 100%;
  margin-top: 2vh;
  border: none;
  align-self: center;
  background-color: #9e1c1e;
  padding: 16px, 147px, 16px, 147px;
  font-family: "Inter";
  font-size: 18px;
  color: white;
  font-style: normal;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: 0.03em;
  text-align: center;
  cursor: pointer;
}

.form {
  width: 70%;
  height: 80%;
  align-self: center;
  justify-content: space-around;
}

.frame {
  width: 70%;
  align-self: center;
}

.modal-head > h4 {
  color: #a5a5a5;
}

.modal > .title {
  align-self: center;
  font-family: "Playfair Display";
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0.03em;
  text-align: left;
}

.modal > .description {
  text-align: center;
  align-self: center;
  max-width: 40vh;
}
