.price-container {
  min-width: 100vw;
  min-height: 160vh;
  background-image: url("../../../assets/wheat.png");
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: space-around;
  background-position: center;
}

.price-banner {
}

.price-container > .title {
  justify-content: space-around;
  width: 60%;
}
.price-container > .title > h1 {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 64px;
  color: #9e1c1e;
}

.price-container > .title > img {
  min-width: 146.51px;
  height: 10px;
}

.price-item > .description > div > h4 {
  padding-left: 5px;
  padding-right: 5px;
}
.price-item > .description > div > img {
  height: 6px;
  width: 6px;
}

.price-item > h1 {
  color: hsla(359, 70%, 37%, 1);
  font-family: "Playfair Display";
}
.price-item > button {
  background-color: #ffca78;
  border: none;
  height: 48px;
  min-width: 144px;
  font-size: 18px;
  border-radius: 8px;
  padding: 12px, 28px, 12px, 28px;
  color: hsla(359, 70%, 37%, 1);
  align-self: flex-end;
}

.price-item {
  min-width: 308px;
  min-height: 480px;
  padding-left: 30px;
  padding-right: 30px;
  background: #ffffff;
  border-radius: 20px;
}

.price > .unit {
  text-decoration: underline;
}

.price > p {
  align-self: flex-end;
  padding-left: 5px;
}
.price > span {
  font-family: "Inter";
  font-weight: 600;
  font-size: 36px;
}

.price-normal {
  width: 60%;
  justify-content: space-around;
}

.price-special {
  width: 60%;
  justify-content: space-around;
}
