@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif, "Playfair Display", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  margin: 0;
}

.col {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.gold {
  color: gold;
}

.align-self-start {
  align-self: flex-start;
}

.bg-blue {
  background: hsla(212, 100%, 20%, 1);
}

.redPlum {
  color: hsla(359, 70%, 37%, 1);
}
.item-center {
  display: flex;
  align-items: center;
}

.text-white {
  color: white;
}

.width-100 {
  width: 100%;
}

.pd-right-10 {
  padding-right: 10px;
}

.pd-right-20 {
  padding-right: 20px;
}

.pd-right-30 {
  padding-right: 30px;
}

.select {
  width: 100%;
  border-radius: 8px;
  height: 50px;
}

.content-around {
  justify-content: space-around;
}

.text-gold {
  color: hsla(36, 100%, 74%, 1) !important;
}

.content-center {
  display: flex;
  justify-content: center;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
