.img-styles {
  height: 100vh !important;
}
.slick-initialized {
  position: "block !important";
}

.buttonSlides {
  display: inline-block;
  margin: auto;
  padding: 0;
  border-radius: 40px;
  text-align: center;
}

.buttonSlides li {
  list-style: none;
  cursor: pointer;
  display: inline-block;
  margin: 0 3px;
  padding: 0;
}

.buttonSlides li button {
  border: none;
  background: hsla(0, 3%, 81%, 1);
  color: transparent;
  cursor: pointer;
  display: block;
  height: 15px;
  width: 15px;
  border-radius: 7.5px;
}

.buttonSlides li.slick-active button {
  width: 50px;
}
